<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>ImportTablesServlet</servlet-name>
        <servlet-class>ru.artezio.dbWithView.servlets.ImportTablesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImportTablesServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewList</servlet-name>
        <servlet-class>ru.artezio.dbWithView.servlets.ViewList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewList</servlet-name>
        <url-pattern>/viewList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewTree</servlet-name>
        <servlet-class>ru.artezio.dbWithView.servlets.ViewTree</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewTree</servlet-name>
        <url-pattern>/viewTree</url-pattern>
    </servlet-mapping>

</web-app>